@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: auto;
    max-width: 500px;
    margin-top: 5rem;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #b31ce6, #de4fd7, #f77ed0, #ffadd4, #ffdbe5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    margin-bottom: 1rem;
}

:root {
    --text-color: #5e1467;
    --text-color2: rgb(94 20 103 / 77%);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ffdbe5;
    font-size: 4rem;
    transition: 0.3s ease-in-out;

}

h1:hover {
    transform: scale(1.1);
    text-shadow: 1px 36px 5px var(--text-color2);
}

.main {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

#input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: #ffdbe5;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #ffdbe5;
    padding: 1rem;
    transition: 0.3s ease-in-out;
    outline: none;
}

#input:focus {
    box-shadow: 1px 1px 15px 0 #5e1467;
    transform: scale(1.02);
}

#btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1rem;
    color: #ffdbe5;
    font-weight: bold;
    border: 1px solid #ffdbe5;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 1rem;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

#btn:hover {
    box-shadow: 1px 1px 15px 0 #5e1467;
    transform: scale(1.02);
}

#btn:active {
    transform: scale(0.8);
}

.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top: 2rem;
    font-size: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    border-bottom: 2px solid #ffdbe5;
    color: var(--text-color);
}



.output-content {
    text-align: right;
    display: inline;
    font-size: 1.2rem;
    font-weight: 600;
}

.output-temp {
    color: var(--text-color2);
}

.section {
    padding: 2rem;
    background-color: transparent;
}

#temp {
    font-size: 1.9rem;
    margin-left: 1rem;
}

#description {
    font-size: 1.3rem;
}

#mainsection {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid #f1a7bc;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    color: var(--text-color);
    padding: 2rem;
}



@media screen and (max-width: 500px) {


    .section {
        backdrop-filter: blur(50px);
        background-color: rgba(255, 0, 0, 0);
    }

    #input {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    body {
        margin-bottom: 1rem;
    }
}